.git
.gitignore
.github

node_modules
vendor

public/build
public/hot
bootstrap/ssr
bootstrap/cache/*.php

storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/**/.gitignore

.ddev
.idea
.vscode
.DS_Store

.env
.env.*
!.env.example
!.env.production.example

tests
phpunit.xml
README.md
DEPLOY.md
